*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(82, 47, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.calculator{
    background: rgb(246, 181, 91);
    padding: 20px;
    border-radius: 40px;
    border: 5px solid rgb(243, 137, 8);
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 75px;
    height: 70px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #0e0e0e;
    cursor: pointer;
    margin: 10px;
    scroll-behavior: auto;
    
}
.calculator form input:hover{
    background: rgb(181, 144, 99)
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border: 4px solid #eea0a0;
    border-radius: 10px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
}
form input.equal{
    width: 175px;
}
form input.operator{
    color: #438a19;
}
h1{
    text-align: center;
}
